{% block head %}
{% load staticfiles %}
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
<div class="navbar w-nav" data-animation="default" data-collapse="small" data-duration="400">
  <div class="navbar-container w-container">
    <div class="centerer w-hidden-medium w-nav-button">
      <div class="hidden w-icon-nav-menu"></div>
    </div>
    <div class="left navbar-pusher w-hidden-tiny"></div>
    <a class="navbar-brand w-hidden-main w-hidden-medium w-nav-link" href="#">
      <span class="brand-span-mobile">ELF</span>SYNDICATE</a>
    <nav class="w-nav-menu" role="navigation">
      <a
       class="navbar-link w-nav-link" href="/">Home</a><a

        class="navbar-link w-nav-link" href="/characters/create/">Play Now</a><a

         class="navbar-link w-nav-link" href="/tools/">Tools</a><a

          class="navbar-brand w-nav-link" href="/"><span class="brand-span">ELF</span>SYNDICATE</a><a

           class="navbar-link w-nav-link" href="/about/">About</a><a

            class="navbar-link w-nav-link" href="/contact/">Contact</a><a

             class="navbar-link w-nav-link" href="{% url 'accounts:register' %}">Sign Up</a>
    </nav>
    <div class="menu-button w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
    <div class="navbar-pusher right w-hidden-tiny"></div>
  </div>
</div>
