{% extends 'base.html' %}
{% block title %}{{ user.username }}'s Profile{% endblock %}
{% block register_active %}active{% endblock %}
{% block body %}
<input class="form-control" maxlength="24" minlength="6" type="password" name="password" placeholder="Password" id="id_password" value="{{User.password}}" required/>
<div class="remember" id="forget">
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}  <a href="{% url 'accounts:logout' %}">[logout]</a></p>
        <form action method='POST'>
            {% csrf_token %}
            {{ uform.as_p }}
            {{ pform.as_p }}
                    <input type='submit' value='Confirm' />

            {{ form.errors }}
                </form>
    {% else %}
        <meta http-equiv="REFRESH" content="{% url 'accounts:login' %}">
    {% endif %}
    {% endblock %}
