{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block title %}{{ user.username }}'s Profile{% endblock %}
{% block register_active %}active{% endblock %}
{% block body %}
<h1> WORKING </h1>
<h1>{{ user.username }}</h1>
<div id="test">
  {% render_bundle 'main' %}
</div>
<div class="profile">
    <div class="picture">
        <div class="description">
            {% if user.first_name and user.last_name %}
            <h4>{{ user.first_name }}{{ user.last_name }}</h4>
            {% endif %}
            <p>{{ user.description }}</p>
            <p>
                {% for character in user.characters %}
                {{ character }}
                {% endfor %}
            </p>
            {% if user.profile.profile_picture %}
            <img src="{{MEDIA_URL}}{{user.profile.profile_picture}}"/>
            {% else %}
            <p>
              Edit your profile and set a profile picture :)
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% block active_user %}
{% if request.user.username == user.username %}
    <p>Welcome, {{ request.user.username }}  <a href="{% url 'accounts:logout' %}">[logout]</a></p>
    <a href='/accounts/profile/edit/{{user.username}}'>[edit profile]</a>
    <a href='/characters/create/'>[create a character]</a>
{% endif %}
{% endblock %}
{% endblock %}
